.logo-area img {
	width: 40%;
	margin: 15px;
}
.header-right div.d-flex {
	flex-flow: row-reverse;
}
.header-right div.d-flex button {
	margin: 15px;
}
button{
    border:none;
}
.signup-btn {
    background-color: rgb(209, 21, 65);
    color:#fff;
    padding: 8px 30px;
    border-radius: 20px;
    font-size: 20px;
}
.signup-btn:hover {
    background-color: rgb(128, 12, 39);
	transition:300ms ease-in;
}
